body {
  width: 100%;
  height: 100vh;
  background: #1c1c1c;
}

.conteudo-principal {
  height: inherit;
}
.formulario {
  border-radius: 10px;
  background: #363636;
  width: 45%;
}

.formulario h4 {
  color: #04d976;
}

section label {
  color: white;
  font-weight: bold;
}
footer {
  background-color: #363636;
  text-align: center;
  padding: 40px 0;
}

.copyright {
  color: #04bf68;
  font-size: 15px;
  margin: 0;
}
