@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* HEADER */
.cabecalho {
    width: 100%;
}

#logo {
    width: 270px;
}

.cor-especial-navegacao {
    background-color: #363636;
    color: #04bf68;
}

#titulo {
    color: #04bf68;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.mudacor {
    font-weight: bold;
    font-size: 40px;
    color: #04d976;
}

.background-hamburguer {
    background-color: #04bf68;
}

.color-li{
    color: #04d976!important;
}

.color-li:hover{
    color: #A5A681!important;
}

/* MAIN */
.cadastro{
    width: 100%;
    min-height: 50vh;
}

.cadastro-palavra{
    color: #04d976!important;
}

.container{
    background-color: #36363673;
    width: 70%;
}

.cadastro-concluido, .btn-cadastro-concluido{
    width: 70%;
    margin: 30px 0 0 210px;
}

.espaco-footer{
    margin-bottom: 260px; 
}

.dados-pessoais{
    display: block;
}

.endereco{
    display: none;
}

.btn-continuar-dados-pessoais, .btn-continuar-endereco{
    margin-left: 210px;
    background-color: #04d976;
    color: white;
}

/* FOOTER */
footer {
    background-color: #363636;
    height: 50px;
    width: 100%;
    padding: 12px;
    flex-shrink: 0;
    text-align: center;
    margin-top: 25px;
}

.copyright {
    color: #04bf68;
    font-size: 14px;
}

@media (max-width: 750px) {
    body{
        overflow-x: hidden;
    }

    .container{
        width: 100%;
        min-height: 70vh;
    }

    .btn-continuar-dados-pessoais, .btn-continuar-endereco{
        margin-left: 130px;
    }

    .cadastro-concluido{
        min-height: 60vh;
        width: 80%;
        margin:30px;
    }

    .btn-cadastro-concluido{
        width: 80%;
        margin:30px;
    }

    footer {
        height: 65px;
        margin-top: 30px;
    }
}