@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #1c1c1c;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cabecalho {
  width: 100%;
}

.cor-especial-navegacao {
  background-color: #363636;
  color: #04bf68;
}

#logo {
  width: 270px;
}

.background-hamburguer {
  background-color: #04bf68;
}

.color-li {
  color: #04d976 !important;
}

.color-li:hover {
  color: #a5a681 !important;
}

.principal {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 60px;
  flex: 1 0 auto;
}

.pesquisa {
  width: 70%;
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#pesquisa-filme {
  box-shadow: 2px 2px 5px #04bf68;
  border-radius: 15px;
  width: 90%;
}

#btn-pesquisa {
  background: transparent;
  border: none;
  outline: none;
  filter: drop-shadow(3px 3px 5px #04bf68);
}

#btn-pesquisa img {
  width: 40px;
  height: 40px;
}

.mostraErro {
  margin: 0 45px;
  width: 70%;
  display: none;
  align-items: center;
  justify-content: center;
}

.mostraErro img {
  width: 300px;
  height: 300px;
  padding: 25px;
}

.mensagem {
  color: #a5a681;
  font-size: 28px;
  width: 45%;
  text-align: justify;
}

.filmeEncontrado {
  width: 90%;
  color: #a5a681;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#poster {
  border-radius: 5px;
  border: 15px solid #363636;
  box-shadow: 2px 2px 10px #8fbfa9;
}

.informacoes {
  width: 50%;
  padding-left: 25px;
  text-align: justify;
}

#tituloFilme {
  color: #04bf68;
  font-size: 30px;
  font-weight: 400;
}

.infInicio {
  color: #04d976;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
}

.colocaCode:nth-child(2)::after,
.colocaCode:nth-child(2)::before,
.colocaCode:nth-child(3)::after {
  content: "    |    ";
}

.inf {
  display: flex;
}

.descr {
  color: #04bf68;
  font-weight: 400;
}

.infAPI {
  padding-left: 5px;
  padding-right: 2px;
}

footer {
  background-color: #363636;
  height: 50px;
  width: 100%;
  padding: 12px;
  flex-shrink: 0;
  text-align: center;
}

.copyright {
  color: #04bf68;
  font-size: 14px;
}

@media (max-width: 750px) {
  .mostraErro {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .filmeEncontrado {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .informacoes {
    width: 70%;
  }

  .infInicio {
    display: block;
  }

  .code {
    display: none;
  }
}
