body {
    background-color: #1c1c1c;
}

.descricaoSite{
    margin-top: 100px;
    text-align: center;
    color: #A5A681;
}

.cor-especial-navegacao {
    background-color: #363636;
    color: #04BF68;
}

.btn {
    background-color: #8C5332;
    color: #04D976;
}

.card-title {
    color: #8C5332;
}

.card-text {
    color: #04BF68;
}

.cuidaBotao {
    text-align: center;
}

.container {
    text-align: center;
}

.nav-item:hover {
    color: #04D976;
}

.navbar-brand {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #04BF68;
    background-color: #363636;
    text-align: center;
    padding: 40px 0;
    position: fixed;
}

.copyright{
    color: #04bf68;
    font-size: 15px;
    margin: 20px 0 0;
}