@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color: #1c1c1c;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* HEADER */
.cabecalho {
    width: 100%;
}

#logo {
    width: 270px;
}

.cor-especial-navegacao {
    background-color: #363636;
    color: #04bf68;
}

#titulo {
    color: #04bf68;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.mudacor {
    font-weight: bold;
    font-size: 40px;
    color: #04d976;
}

.background-hamburguer {
    background-color: #04bf68;
}

.color-li{
    color: #04d976!important;
}

.color-li:hover{
    color: #A5A681!important;
}

/* MAIN */
.main-login{
    height: 80vh;
}

.login-palavra{
    color: #04d976!important;
}

.formulario {
    width: 100%;
    border-radius: 10px;
    background: #363636;
    margin: 10px;
}

.cor-label {
    color: white;
}

a {
    text-decoration: none;
}

#botao-continuar{
    background-color: #04d976;
    color: white;
}

.rede-social span, .aviso-senha {
  color: white;
}

.facebook {
  width: auto;
  height: 35px;
  padding: 5px;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  border-radius: 5px;
  margin-bottom: 5px;
}
.instragram {
  width: auto;
  height: 35px;
  padding: 5px;
  background: linear-gradient(25deg, rgb(255 193 7), rgb(220 53 207));
  border-radius: 5px;
}

.fa-facebook-square:before {
  content: "\f082";
  font-size: 25px;
}
.fa-instagram:before {
  content: "\f16d";
  font-size: 25px;
}

.facebook a {
  text-decoration: none;
  color: white;
}
.instragram a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: #363636;
  height: 50px;
  width: 100%;
  padding: 12px;
  flex-shrink: 0;
  text-align: center;
}

.copyright {
  color: #04bf68;
  font-size: 14px;
}
