@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  width: 100%;
  height: 100vh;
  background: #1c1c1c;
  font-family: "Quicksand", sans-serif;
}

/* HEADER */
.cabecalho {
  width: 100%;
}

#logo {
  width: 270px;
}

.cor-especial-navegacao {
  background-color: #363636;
  color: #04bf68;
}

#titulo {
  color: #04bf68;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.mudacor {
  font-size: 40px;
  color: #04d976;
}

.background-hamburguer {
  background-color: #04bf68;
}

.color-li{
  color: #04d976!important;
}

.color-li:hover{
  color: #A5A681!important;
}

.icon {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.conteudo-principal {
  height: 70vh;
}

.formulario {
  border-radius: 10px;
  background: #363636;
  width: 45%;
}

.formulario h4 {
  color: #04d976;
}

.formulario > section {
  width: 60%;
}

section label {
  color: white;
}

#resposta {
  color: white;
}

.btn-enviar{
  background-color: #04d976;
}

footer {
  margin-top: 65px;
  background-color: #363636;
  height: 50px;
  width: 100%;
  padding: 12px;
  flex-shrink: 0;
  text-align: center;
}

.copyright {
  color: #04bf68;
  font-size: 14px;
}

@media (max-width: 750px) {
  body{
    overflow-x: hidden;
  }

  .conteudo-principal {
    min-height: 77vh;
  }
  
  .formulario {
    width: 90%;
  }

  footer {
    height: 65px;
    margin-top: 30px;
  }
}