@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-image: url(../img/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* HEADER */
.cabecalho {
    width: 100%;
}

.cor-especial-navegacao {
    background-color: #36363662;
    color: #04bf68;
}

#titulo {
    color: #04bf68;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.mudacor {
    font-weight: bold;
    font-size: 40px;
    color: #04d976;
}

.background-hamburguer {
    background-color: #04bf68;
}

.color-li{
    color: #04d976!important;
}

.color-li:hover{
    color: #A5A681!important;
}

/* MAIN */
.sobre{
    width: 100%;
    height: 80vh;
}

.container-sobre{
    background-color: #36363673;
    width: 70%;
}

.coluna-dois-modal{
    margin-left: 190px;
}

.btn-modal{
    background-color: #04bf68;
}