@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color: #1c1c1c;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* HEADER */
.cabecalho {
    width: 100%;
}

#logo {
    width: 270px;
}

.cor-especial-navegacao {
    background-color: #363636;
    color: #04bf68;
}

#titulo {
    color: #04bf68;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.mudacor {
    font-weight: bold;
    font-size: 40px;
    color: #04d976;
}

.background-hamburguer {
    background-color: #04bf68;
}

.color-li{
    color: #04d976!important;
}

.color-li:hover{
    color: #A5A681!important;
}

/* MAIN */
.sobre{
    width: 100%;
    min-height: 80vh;
    margin-bottom: 20px;
}

.container-sobre{
    background-color: #363636;
    width: 70%;
}

.icon-tamanho{
    font-size: 20px;
    color: #04d976;
}

.margin-esquerda-cards{
    margin-left: 50px;
}

.coluna-dois-modal{
    margin-left: 190px;
}

.btn-modal{
    background-color: #04bf68;
}

/* FOOTER */
footer {
    background-color: #363636;
    height: 50px;
    width: 100%;
    padding: 12px;
    flex-shrink: 0;
    text-align: center;
    margin-top: 25px;
}

.copyright {
    color: #04bf68;
    font-size: 14px;
}

@media (max-width: 750px) {
    body{
        overflow-x: hidden;
    }

    .sobre{
        min-height: 110vh;
    }

    .container-sobre{
        text-align: center;
        width: 100%;
    }

    .margin-esquerda-cards{
        margin-left: 0;
    }

    .coluna-dois-modal{
        margin-left: 0;
    }

    .botao-responsivo-modal{
        margin-bottom: 0;
    }

    footer {
        height: 65px;
        margin-top: 30px;
    }
}